    .profile__container {
        max-width: 100%;
        min-height: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: visible;
        background: linear-gradient(to right, rgb(0, 0, 0), rgb(33, 28, 43), rgb(0, 0, 0));
        margin: 0 auto;
        box-sizing: border-box;
        color: white;
    }

    .profile {
        max-width: 100%;
        min-height: 100vh;
        border: 1px solid gainsboro;
    }

    .profile__body {
        padding: 0 5.08rem;
        border: 1px solid red;
        min-height: 100%;
        max-width: 100%;
    }

    /* ----------------------Main profile-------------------- */
    .profile__main {
        border: 1px solid rgb(252, 249, 255);
    }
    
    .profile__main-top {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        max-width: 100%;
        min-height: 19rem;
        gap: 1.75rem;
    }

    /* ----------------------top left-------------------- */

    .profile__main-top-left {
        background-color: rgb(238, 222, 222);
        max-height: 19.6rem;
        max-width: 19.6rem;
        border-radius: 0.9375rem;
        box-shadow: 4px 4px 70px 1px rgba(0, 0, 0, 0.50);
        overflow: hidden;
        flex-shrink: 1;
    }

    .profile__main-top-left>img {
        max-width: 100%;
    }

    /* ----------------------top right-------------------- */
    .profile__main-top-right {
        max-width: 58rem;
        min-height: 19.6875rem;
        border-radius: 0.625rem;
        border: 1px solid #FFF;
        display: flex;
        flex-flow: row wrap;
        overflow: hidden;
    }

    .profile__main-top-right1{
        border-right: 1px solid white;
        flex-basis: 55%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        padding: 1rem 1.5rem;
    }

    .profile__main-top-right1>h3 {
        color: #FFF;
        font-family: poppins;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.02rem;
        text-decoration-line: underline;
        margin-bottom: 1rem;

    }
    
    .profile__main-top-right1>h1 {
        color: #FFF;
        text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        font-family: Poppins;
        font-size: 2.25rem;
        font-style: normal;
        font-weight: 600;
        margin-bottom: 1rem;
    }
    
    .profile__main-top-company {
        width: fit-content;
        max-height: 4.6875rem;
        flex-shrink: 0;
        border-radius: 0.625rem;
        border: 1px solid #FFF;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        padding: .4rem 1rem;
        margin-bottom: 2.5rem;
    }

    .profile__main-top-company>h1 {
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 1.125rem;
        font-weight: 500;
        letter-spacing: 0.0225rem;
    }
    .profile__main-top-company>div{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: .5rem
    }
    .profile__main-top-company>div>img{
        width: 1.4375rem;
        height: 1.4375rem;
        margin-right: .5rem;
    }


    /* ----------------------Main profile bottom-------------------- */
    .profile__main-bottom {
        border: 1px solid green;
        height: 10rem;
    }



    @media (max-width: 1024px) {
        .profile__container {
            background-color: rgb(192, 147, 34);
        }

        .profile {
            background-color: rgb(251, 152, 152);
        }
    }